@import '../utilities/extends';

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  @extend %flex-center;
  z-index: 100;
  animation: vanish 0.1s forwards;
  animation-delay: 3s;

  @keyframes vanish {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
      z-index: -10;
    }
  }

  &__letters {
    font-size: 2rem;
    font-weight: 700;
    color: #7e7e7e;
    letter-spacing: 7px;
    animation: change-color 1.2s infinite;

    @keyframes change-color {
      0% {
        color: $primary-color;
        text-shadow: 0 0 7px $primary-color;
      }
      40% {
        color: $secondary-color;
        text-shadow: 0 0 7px $secondary-color;
      }
      80% {
        color: #7e7e7e;
        text-shadow: none;
      }
      100% {
        color: $primary-color;
        text-shadow: 0 0 7px $primary-color;
      }
    }
  }

  @for $i from 1 through 10 {
    .letter-#{$i} {
      animation-delay: 0.1s*$i;
    }
  }
}
