@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/extends';
@import '../base/general';
@import '../components/header';
@import '../components/footer';


//LOADER
.loader {
  display:none;
}

//MAIN CONTAINER
.main-container {
  width: 100%;
  min-width: 320px;
  max-width: 1440px;

  h1 {
    font-size: 1.5rem;
    font-weight: 700;

    @media (min-width: $media-tablet) {
      font-size: 2.2rem;
    }

    @media (min-width: $media-desktop) {
      font-size: 2.5rem;
    }
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  h3 {
    font-size: 18px;
    font-weight: 700;
  }

  ul, ol {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

//SECTION LOCATION
.location {
  position: relative;
  z-index: 20;
  @extend %flex-center;
  gap: 17px;
  height: 50px;
  background-color: #eaeaea;
  @include shadow(0, 4px, 4px, 0, rgba(0, 0, 0, .25));

  &__input {
    border: none;
    background: none;
    width: 109px;


    &::placeholder {
      color: #000;
      font-size: 1rem;
      font-weight: 500;
    }
  }
}

//SECTION HERO
.hero {
  @extend %flex-center;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 39px 0 57px;
  text-align: center;

  @media (min-width: $media-tablet) {
    padding: 30px 0;
    gap: 30px;
  }

  &__title {
    padding: 0 50px;

    @media (min-width: $media-tablet) {
      padding: 0;
    }
  }

  &__content {
    font-size: 18px;
    font-weight: 300;
    padding: 15px 20px 27px;

    @media (min-width: $media-tablet) {
      padding: 0;
    }
  }

  &__button {
    @extend %button-gradient;
  }
}

//SECTION INSTRUCTION
.usage-instruction {
  padding: 50px 20px 68px 0;

  @media (min-width: $media-tablet) {
    padding-bottom: 50px;
  }

  @media (min-width: $media-desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    padding-left: 20px;
    min-width: 990px;
  }

  &__steps {
    padding-left: 32px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media (min-width: $media-tablet) {
      flex-direction: row;
      gap: 20px;
    }

    @media (min-width: $media-desktop) {
      justify-content: center;
      gap: 36px;
      padding-left: 12px;
    }
  }

  .step {
    display: flex;
    align-items: center;
    gap: 25px;
    position: relative;
    height: 72px;
    padding-left: 34px;
    border-radius: 20px;
    background-color: #f6f6f6;
    @include shadow(0, 4px, 15px, 0, rgba(0, 0, 0, .15));

    @media (min-width: $media-tablet) {
      padding-right: 38px;
    }

    &__number {
      @extend %flex-center;
      position: absolute;
      top: 50%;
      left: -12px;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $primary-color;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
    }

    &__icon {
      color: #7e7e7e;
    }

    .fa-store {
      color: $primary-color;
    }

    .fa-mobile-screen-button {
      font-size: 19px;
    }

    &__heading {
      font-weight: 500;
    }
  }
}

//SECTION RESTAURANT-LIST
.restaurant-list {
  padding: 55px 0 66px;
  background-color: #f6f6f6;

  @media (min-width: $media-tablet) {
    padding: 30px 0;
  }

  @media (min-width: $media-desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    padding-left: 20px;
    margin-bottom: 20px;

    @media (min-width: 1024px) {
      min-width: 990px;
      max-width: 1114px;
      padding-left: 0;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0 17px;

    @media (min-width: $media-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $media-desktop) {
      row-gap: 50px;
      column-gap: 100px;
      max-width: 1114px;
    }
  }

  .restaurant-item {
    width: 100%;
    height: 251px;
    position: relative;
    background-color: #fff;
    border-radius: 15px;

    @media (min-width: $media-desktop) {
      min-width: 445px;
      max-width: 490px;
    }

    &__badge {
      position: absolute;
      right: 15px;
      top: 15px;
      padding: 7px 9px;
      background-color: $tertiary-color;
      border-radius: 2px;
      @include shadow(0, 2px, 4px, 0, rgba(0, 0, 0, .15));
      font-size: 14px;
      font-weight: 500;
      color: #008766;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 174px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .details {
      margin: 15px 0 0 13px;

      &__location {
        font-size: 17px;
        font-weight: 300;
      }
    }

    .heart-checkbox {
      display: none;

      &:checked + .heart-label .far.fa-heart {
        display: none;
      }

      &:checked + .heart-label .fas.fa-heart {
        display: inline-block;
        color: transparent;
        @include heart-fill($primary-color, $secondary-color);
        animation: fill-heart ease 2.5s;
      }
    }

    .heart-label {
      cursor: pointer;
      position: absolute;
      bottom: 25px;
      right: 25px;

      &__empty,
      &__filled {
        font-size: 24px;
      }

      &__filled {
        display: none;
      }

      @keyframes fill-heart {
        0% {
          opacity: .3;
        }

        100% {
          opacity: 1;
        }
      }
    }
  }
}